doctype html
html
    head
        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        |     
        meta(charset='utf-8')
        |     
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        |     
        meta(name='viewport', content='width=device-width, initial-scale=1')
        |     
        meta(name='description', content='Personal Website of ppmakeitcount or Pramod Potdar. He is Great.')
        |     
        meta(name='author', content='ppmakeitcount, pramodpotdar, pramod, potdar, coder, helper, opensourcelover')
        |     
        title Pramod Potdar
        |     
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        |     
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
        |     
        link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        |     
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bungee|Fruktur|Gloria+Hallelujah|Mirza|Noto+Serif|Play')
        |     
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        |     
        link(rel='stylesheet', href='css/style.css')
    body(data-spy='scroll', data-target='.navbar', data-offset='50')
        nav.navbar.navbar-inverse.navbar-custom.navbar-fixed-top
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        |         
                        span.icon-bar
                        |         
                        span.icon-bar
                        |         
                        span.icon-bar
                    |                 
                    a.navbar-brand(href='http://codepen.io/PP_MakeItCount/full/VmGQpm/', target='_blank')
                        span.bungee PP_MakeItCount
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href='#top') Home
                        |                     
                        li
                            a(href='#about') About
                        |                     
                        li
                            a(href='#portfolio') Portfolio
                        |                     
                        li
                            a(href='#contact') Contact
                // /.navbar-collapse
                //
                    /.container-fluid
        |     
        section#top.container-fluid.section1
            .space-class
            |         
            .row.text-center
                #pro-pic.col-lg-3.col-md-3.col-sm-3.pull-left
                    img.img-responsive.img-circle(src='http://i67.tinypic.com/4zw8rr.jpg', width='400px', alt='pofile-pic')
                |             
                .col-lg-9.col-md-9.col-sm-9.pull-right
                    h2.fruktur Pramod Raghunath Potdar
                    |                 
                    .text-left
                        p(style='font-size:20px')
                            | I am B.E Computer Science passed out in year 2016, having hands-on experience in leading academic projects which cover software packages like C, Java , Bootstrap.
                        |                     
                        blockquote
                            p.lead(style='font-size:18px')
                                | I am versatile and creative person good at taking initiative and can adapt to any environment instantly.
        |     
        section#about.contianer-fluid.section2
            .row
                h1 About
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12
                    .custom-border.border-pink
                        h4 ACHIEVEMENTS
                        |                     
                        p  &#x25CF; Won chess competitions in school.
                        |                     
                        p  &#x25CF; Was in TOP 10 among 5000 students in Seed competition. (C language).
                        |                     
                        p  &#x25CF; Participation in event &lsquo;TAL NINAD&rsquo; to make Guinness world record in playing Tabla.
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12
                    .custom-border.border-pink
                        h4 ACADEMICS
                        |                     
                        p  &#x25CF; freeCodeCamp Certifications.
                        |                     
                        p  &#x25CF; B.E. Computers Sci. 66.56%
                        |                     
                        p  &#x25CF; Diploma in Computer Engg. 72.58
                        |                   
                        p  &#x25CF; SCC MSB. 90.18
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12
                    .custom-border.border-pink
                        h4 EXTRA-CURICULAR
                        |                     
                        p  &#x25CF; Attended Ethical hacking workshop
                        |                     
                        p  &#x25CF; Attended Robotics workshop
                        |                     
                        p  &#x25CF; Volunteered at several college events and Rotaract events.
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12
                    .custom-border.border-pink
                        h4 INTERESTS
                        |                     
                        p  &#x25CF; Reading inspirational books.
                        |                     
                        p  &#x25CF; Playing Guitar, Tabla.
                        |                     
                        p  &#x25CF; Watching Hollywood movies.
        |     
        section#portfolio.contianer-fluid.section3
            .row
                h1 Projects
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='http://codepen.io/ppmakeitcount/full/NbZLbj/', target='_blank')
                        .border-blue
                            img.rounded.img-responsive(src='https://s27.postimg.org/fhsgdufcj/calci.png')
                            |                         
                            h4 Calculator
                            |                         
                            h4
                                small
                                    | Web app &amp; iOS app
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='https://github.com/ppmakeitcount', target='_blank')
                        .border-blue
                            img.rounded.img-responsive(src='http://i63.tinypic.com/2jfeg6g.png')
                            |                         
                            h4 Chess
                            |                         
                            h4
                                small
                                    | C, CPP
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='https://github.com/ppmakeitcount', target='_blank')
                        .border-blue
                            img.rounded.img-responsive(src='https://s23.postimg.org/omw4iwjsb/fanapp.png')
                            |                         
                            h4 Fan App
                            |                         
                            h4
                                small
                                    | iOS app
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='https://codepen.io/ppmakeitcount/full/mONPNK/', target='_blank')
                        .border-blue
                            img.rounded.img-responsive(src='https://s27.postimg.org/fa9ev2trn/tictactoe.png')
                            |                         
                            h4 Tic Tac Toe
                            |                         
                            h4
                                small
                                    | Web app
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='http://codepen.io/ppmakeitcount/full/dOxJya/', target='blank')
                        .border-blue
                            img.rounded.img-responsive(src='https://s27.postimg.org/z3lins75f/simongame.png')
                            |                         
                            h4 Simon Game
                            |                         
                            h4
                                small
                                    | Web app
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='http://www.indiantalentpune.com/', target='_blank')
                        .border-blue
                            img.rounded.img-responsive(src='https://s27.postimg.org/5lrde79kj/indiantalent.png')
                            |                         
                            h4 indiantalentpune.com
                            |                         
                            h4
                                small
                                    | Website
                |             
                .col-lg-3.col-md-6.col-sm-6.col-xs-12.text-center
                    a(href='http://codepen.io/ppmakeitcount/full/mOZgpP/', target='_blank')
                        .border-blue
                            img.rounded.img-responsive(src='https://s27.postimg.org/fkcc0oj03/pomodoro.png')
                            |                         
                            h4 Pomodore Clock
                            |                         
                            h4
                                small
                                    | Web app
        |     
        footer#contact.margin-custom
            .container-fluid.black900
                .row.text-center(style='padding:20px')
                    ul.list-inline
                        li
                            a.button.social(href='https://in.linkedin.com/in/ppmakeitcount', target='_blank')
                                i.fa.fa-fw.fa-4x.fa-linkedin
                        |                     
                        li
                            a.button.social(href='https://github.com/ppmakeitcount', target='_blank')
                                i.fa.fa-fw.fa-4x.fa-github
                        |                     
                        li
                            a.button.social(href='https://www.freecodecamp.com/ppmakeitcount', target='_blank')
                                i.fa.fa-fw.fa-4x.fa-free-code-camp(aria-hidden='true')
                        |                     
                        li
                            a.button.social(href='https://twitter.com/ppmakeitcount', target='_blank')
                                i.fa.fa-fw.fa-4x.fa-twitter
                        |                     
                        li
                            a.button.social(href='https://www.facebook.com/ppmakeitcount', target='_blank')
                                i.fa.fa-fw.fa-4x.fa-facebook
                    |                 
                    h6(style='color:#FF5252') pramod.potdar1@gmail.com
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='js/index.js')
